In [1]:
from flask import Flask

In [2]:
app = Flask(__name__)

In [3]:
@app.route('/')
def sample():
  return "Welcome to today webinar"
if __name__ == '__main__':
  app.run(debug = True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat

SystemExit: ignored

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("diabetes.csv")
df.head(5)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [6]:
df.shape

(768, 9)

In [7]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [8]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
x = df.drop('Outcome',axis=1)
y = df['Outcome']

In [10]:
x.shape

(768, 8)

In [11]:
y.shape

(768,)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state=1)

In [13]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [14]:
gnb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [15]:
y_pred = gnb.predict(x_test)

In [17]:
y_pred = gnb.predict([[6,148,72,35,0,33.6,0.627,50],[1,85,66,29,0,26.6,0.351,31]])
y_pred

array([1, 0])

In [18]:
# api for this model
!pip install flask-ngrok

Collecting flask-ngrok
  Downloading https://files.pythonhosted.org/packages/af/6c/f54cb686ad1129e27d125d182f90f52b32f284e6c8df58c1bae54fa1adbc/flask_ngrok-0.0.25-py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (1.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.2)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=0.8->flask-ngrok) (1.1.1)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

In [ ]:
# ngrok convert local url to public url
from flask_ngrok import run_with_ngrok
from flask import Flask

app = Flask(__name__)
run_with_ngrok(app) # start ngrok when app is run
@app.route("/<int:p>/<int:g>/<int:bp>/<int:s>/<int:i>/<float:bmi>/<float:d>/<int:age>")
def home(p,g,bp,s,i,bmi,d,age):
  return str(gnb.predict([[p,g,bp,s,i,bmi,d,age]]))

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
 * Running on http://3b84754e2587.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [29/Sep/2020 08:55:41] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [29/Sep/2020 08:55:43] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [29/Sep/2020 08:56:37] "GET /1/85/66/29/0/26.6/0.351/31/ HTTP/1.1" 404 -
127.0.0.1 - - [29/Sep/2020 08:56:48] "GET /1/85/66/29/0/26.6/0.351/31 HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2020 08:59:15] "GET /1/85/66/29/0/26.6/0.351/31 HTTP/1.1" 200 -
127.0.0.1 - - [29/Sep/2020 08:59:16] "GET /favicon.ico HTTP/1.1" 404 -